// Slider
.slider {
  .slide {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    img {
      display: block;
      width: 100%;
    }
  }

  .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}
