// Sidebar
$sidebar-width: 240px;
.sidebar {
  width: $sidebar-width;
  z-index: 0;
}

.container {
  @include transition-transform(0.25s);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.25), 1px 0 2px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  z-index: 1;
}

.container.sidebar-active {
  @include transform(translateX($sidebar-width));
}

.bar {
  position: absolute;
}
